APP_NAME = Gitea: Git with a cup of tea
RUN_USER = {{ gitea_user }}
RUN_MODE = prod

[security]
INTERNAL_TOKEN = {% if gitea_internal_token is defined %}{{ gitea_internal_token }}{% endif %}{{''}}
INSTALL_LOCK   = true
SECRET_KEY     = {% if gitea_secret_key is defined %}{{ gitea_secret_key }}{% endif %}{{''}}

[database]
DB_TYPE  = sqlite3
HOST     = 127.0.0.1:3306
NAME     = gitea
USER     = gitea
PASSWD   = 
SSL_MODE = disable
PATH     = {{ gitea_directory }}/data/gitea.db

[repository]
ROOT = {{ gitea_directory }}/gitea-repositories

[server]
SSH_DOMAIN       = {{ gitea_ssh_domain }}
DOMAIN           = {{ gitea_domain }}
HTTP_PORT        = {{ gitea_http_port }}
ROOT_URL         = {{ gitea_root_url }}
DISABLE_SSH      = {{ gitea_disable_ssh }}
SSH_PORT         = {{ gitea_ssh_port }}
LFS_START_SERVER = true
LFS_CONTENT_PATH = {{ gitea_directory }}/data/lfs
LFS_JWT_SECRET   = {% if gitea_lfs_jwt_secret is defined %}{{ gitea_lfs_jwt_secret }}{% endif %}{{''}}
OFFLINE_MODE     = false

[mailer]
ENABLED     = true
HOST        = {{ gitea_mailer_host }}
FROM        = {{ gitea_mailer_from }}
USER        = {{ gitea_mailer_user }}
PASSWD      = {{ gitea_mailer_passwd }}
SKIP_VERIFY = {{ gitea_mailer_skip_ssl_verify }}

[service]
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = true
DISABLE_REGISTRATION              = {{ gitea_disable_registration }}
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = true
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = true
NO_REPLY_ADDRESS                  = {{ gitea_no_reply_address }}

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = true

[openid]
ENABLE_OPENID_SIGNIN = false
ENABLE_OPENID_SIGNUP = false

[cache]
ADAPTER  = {{ gitea_cache_adapter }}
INTERVAL = {{ gitea_cache_interval }}
HOST     = {{ gitea_cache_host }}

[session]
PROVIDER         = file
GC_INTERVAL_TIME = {{ gitea_gc_interval_time }}

[log]
; MODE      = file,console
MODE      = file
LEVEL     = Info
ROOT_PATH = {{ gitea_directory }}/log

[log.file]
; This enables automated log rotate(switch of following options), default is true
LOG_ROTATE     = true
; Max number of lines in a single file, default is 1000000
MAX_LINES      = 1000000
; Max size shift of a single file, default is 28 means 1 << 28, 256MB
MAX_SIZE_SHIFT = 28
; Segment log daily, default is true
DAILY_ROTATE   = true
; delete the log file after n days, default is 7
MAX_DAYS       = 7

[oauth2]
JWT_SECRET = {% if gitea_oauth2_jwt_secret is defined %}{{ gitea_oauth2_jwt_secret }}{% endif %}{{''}}
